@use "./variables.scss" as *;
@use "@/styles/breakpoints.scss" as *;

/* =========================================
   BASE (MOBILE FIRST)
========================================= */

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  font-size: var(--font-size-md); /* mobile default */
}

/* Stack everything vertically */
main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md); /* mobile default */
}

/* =========================================
   TABLET AND UP
========================================= */

@include respond(tablet-portrait) {
  main {
    gap: var(--gap-lg);
  }
}