@use "@/styles/breakpoints.scss" as *;

.subcategoryBar {
  display: flex;
  gap: var(--gap-sm);
  direction: var(--dir);

  @include respond(mobile) {
    display: none; /* ✅ replaced by menu later */
  }
}
