@use "@/styles/breakpoints.scss" as *;

.nav {
  display: none;
}

/* =========================
   TABLET LANDSCAPE +
========================= */

@include respond(tablet-landscape) {
  .nav {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);

    /* Centered header navigation */
    justify-content: center;
  }
}

/* =========================
   DESKTOP +
========================= */

@include respond(desktop) {
  .nav {
    gap: calc(var(--gap-lg) * 1.25);
  }
}