@use "@/styles/breakpoints.scss" as *;

.container {
  padding: var(--padding-lg);
  text-align: center;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--gap-lg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: var(--gap-md);
}

.card {
  padding: var(--padding-lg);
  border-radius: var(--radius-md);
  border: 2px solid var(--border);
  background: var(--tile-bg);
  color: var(--text);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);

  &:hover {
    background: var(--bg-hover);
    border-color: var(--border-hover);
  }
}

.active {
  border-color: var(--accent);
  background: var(--accent-bg);
  color: var(--accent-text);
}

.avatar {
  font-size: 3rem;
}

.name {
  text-align: center;
}