.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  padding-bottom: var(--padding-lg);
  border-bottom: 1px solid var(--border);
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
