@use "@/styles/breakpoints.scss" as *;

/* =================================================
   LANGUAGE SWITCHER
================================================= */

.switcher {
  display: flex;
  flex-direction: var(--flex-row-dir);
  gap: var(--gap-sm);
  direction: var(--dir);

  overflow-x: auto;
  padding-block: var(--padding-sm);
}

.switcher a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;

  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-sm);
  border: 2px solid var(--border);

  background: var(--bg);
  color: var(--text);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  transition: background 0.2s, border-color 0.2s, transform 0.1s;

  &:hover {
    background: var(--bg-hover);
    border-color: var(--border-hover);
    color: var(--text-hover);
  }

  &:active {
    transform: scale(0.96);
  }
}

.switcher a.active {
  background: var(--accent);
  color: var(--accent-text);
  border-color: var(--accent);
}
