.item {
  list-style: none;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-primary, #111);
  padding: 0.25rem 0;

  &:hover {
    text-decoration: underline;
  }

  body.hc & {
    color: #000;
    text-decoration: underline;
  }
}