@use "@/styles/breakpoints.scss" as *;

.item {
  background: none;
  border: none;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-sm);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);

  color: var(--text);
  cursor: pointer;

  transition:
    background-color 0.15s ease,
    color 0.15s ease;

  &:hover:not(.disabled) {
    background-color: var(--bg-hover);
    color: var(--accent);
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* =========================
   TABLET LANDSCAPE +
========================= */
@include respond(tablet-landscape) {
  .item {
    font-size: var(--font-size-md);
    padding: var(--padding-sm) var(--padding-lg);
  }
}