@use "@/styles/breakpoints.scss" as *;

.bar {
  position: sticky;
  bottom: 0;
  z-index: 800;

  background: var(--bg);
  border-top: 2px solid var(--border);
}

@include respond(tablet-portrait) {
  .bar {
    position: relative;
    border-top: none;
  }
}
