@use "@/styles/breakpoints.scss" as *;

.bar {
  display: flex;
  flex-direction: var(--flex-row-dir);
  gap: var(--gap-sm);
  direction: var(--dir);

  @include respond(mobile) {
    display: none; /* ✅ replaced by menu later */
  }
}
