@use "@/styles/breakpoints.scss" as *;

$header-height: 64px;
$aside-width: 300px;
$aside-collapsed-width: 90px;

/* Base mobile-first */
.shell {
  min-height: 100vh;
  background: var(--bg);
}

.main {
  padding: var(--padding-lg);
}

/* Desktop layout */
@include respond(tablet-landscape) {
  .shell {
    display: flex;
  }

  .main {
    margin-top: $header-height;
    transition: margin-inline-start 0.25s ease;
  }
}

/* ===== Layout States ===== */

.layoutMobile {
  .main {
    margin-inline-start: 0;
    margin-top: 0;
  }
}

.layoutAsideClosed {
  .main {
    margin-inline-start: 0;
  }
}

.layoutAsideOpen {
  .main {
    margin-inline-start: $aside-width;
  }
}

.layoutAsideCollapsed {
  .main {
    margin-inline-start: $aside-collapsed-width;
  }
}
