@use "@/styles/breakpoints.scss" as *;

.board {
  display: grid;
  gap: clamp(10px, 1.6vw, 20px);
  padding: clamp(10px, 1.6vw, 20px);

  direction: var(--dir);

  grid-template-columns: repeat(auto-fit, minmax(var(--tile-min), 1fr));
  grid-auto-rows: minmax(var(--tile-row-min), 1fr);

  align-content: start;
}
