@use "@/styles/breakpoints.scss" as *;

.board {
  display: grid;
  gap: clamp(10px, 1.6vw, 20px);
  padding: clamp(10px, 1.6vw, 20px);

  direction: var(--dir);

  /* MOBILE: ONE COLUMN */
  grid-template-columns: 1fr;

  @include respond(tablet-portrait) {
    grid-template-columns: repeat(auto-fit, minmax(var(--tile-min), 1fr));
  }
}
