@use "@/styles/breakpoints.scss" as *;

.group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

/* =========================
   GROUP TITLE
========================= */

.title {
  padding: 0 var(--padding-md);
  margin-bottom: var(--gap-xs);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-muted);
}

/* =========================
   ITEM LIST
========================= */

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

/* =========================
   TABLET LANDSCAPE+
========================= */

@include respond(tablet-landscape) {
  .title {
    padding: 0 var(--padding-lg);
  }
}