@use "@/styles/breakpoints.scss" as *;

.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border);
}


/* =========================
   SECTIONS
========================= */

.left,
.right,
.center {
  display: flex;
  align-items: center;
}

.left {
  flex: 0 0 auto;
}
.logoButton {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

/* Mobile first */
.logoFull {
  display: none;
}

.logoCompact {
  display: inline-flex;
}

/* Tablet landscape and up */
@include respond(tablet-landscape) {
  .logoFull {
    display: inline-flex;
  }

  .logoCompact {
    display: none;
  }
}

.center {
    flex: 1 1 auto;
    justify-content: center;
  }
  


.right {
  flex: 0 0 auto;
}

/* =========================
   MOBILE ONLY
========================= */

.mobileLeft {
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 110;


  display: block;

  @include respond(tablet-landscape) {
    display: none;
  }
}